DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/deutschlernen_dev?schema=public"
NEXTAUTH_SECRET="replace-with-a-random-32-byte-value"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_ADSENSE_CLIENT_ID=
NEXT_PUBLIC_ADSENSE_SLOT_ID=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_SITE_URL=
